<div id="about" class="wrapper">
    <h1 class="text-5xl md:text-7xl md:mb-10 font-inter-extraBold">
        Judo - Więcej niż sport
    </h1>
    <div class="text-base md:text-lg mb-16 sm:mb-0 mr-6 sm:mr-20 md:mr-44">
        <div>
            <br>
            Judo, jako sport dla dziecka, jest doskonałą formą spędzenia czasu, spożytkowania energii, zabawą
            ukierunkowaną i kontrolowaną przez zawodowych trenerów. Judo uczy nie tylko umiejętności ruchowych ale i
            wychowuje oraz kształtuje charakter dziecka. 
            <br></br>
        </div>
        <div>
            Młodzi judocy poznają zasady i dyscyplinę, której należy przestrzegać podczas treningów. Ćwiczenia
            prowadzone są w formie zabaw w których trenerzy czynnie uczestniczą z dzieciakami, podnosząc tym samym
            atrakcyjność zajęć. Ćwiczymy takie rzeczy, jak pady - nauka bezpiecznego upadania, elementy akrobatyki,
            gimnastyki, następnie wprowadzane są elementy judo jak np. rzuty. Jednym słowem, skupiamy się na ogólnym
            rozwoju dziecka przygotowując je do treningu.
            <br></br>
        </div>
        <div>
            „Prawdziwy judoka nie upada, on spotyka się z ziemią”. To jedna z ważniejszych umiejętności, które dzieciaki
            wynoszą z naszych zajęć. Dzięki której podczas uprawiania innych sportów mogą czuć się bezpiecznie i wiedzą,
            jak uniknąć kontuzji oraz kontrolować swoje ciało.
            <br></br>
            Z dziećmi pracujemy nad poprawną postawą, korygujemy wady i wzmacniamy mięśnie pozwalające zachować prosty
            kręgosłup i zdrowy bezpieczny rozwój dziecka.”


        </div>

    </div>
</div>