<div id="camps" class="relative">
    <div class="md:wrapper h-full">
        <div class="mx-2 py-8 sm:mx-12 md:mx-0">
            <h1 class="text-center font-hero text-5xl sm:text-left sm:text-6xl md:text-7xl">
                <span class="text-cust-blu">OBOZY</span>
                <span class="text-cust-yellow">NEKO</span>
            </h1>
            <p class="my-3 font-inter-bold text-lg lg:text-xl xl:text-2xl">
                Nasze Wyjazdy:
            </p>
            <div class="relative md:w-1/2">
                <div class="mx-auto flex flex-col rounded-sm sm:rounded-none">
                    <div style="background-image: url('/images/camp1.png')" class="campCard">
                        <div class="relative z-10 flex justify-between text-white">
                            <div class="py-3 pl-4">
                                <p class="font-inter-bold xl:text-lg">Muszyna</p>
                                <p class="font-inter-regular text-sm xl:text-base">
                                    29.01-05.02
                                </p>
                            </div>
                            <div class="my-auto mr-4 flex items-center xl:text-lg">
                                <p>Informacje i Zapisy</p>
                                <img class="ml-2 h-3 w-auto" src="/images/info_icon.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('/images/camp2.png')" class="campCard">
                        <div class="relative z-10 flex justify-between text-white">
                            <div class="py-3 pl-4">
                                <p class="font-inter-bold xl:text-lg">Obóz Lato</p>
                                <p class="font-inter-regular text-sm xl:text-base">
                                    29.01-05.02
                                </p>
                            </div>
                            <div class="my-auto mr-4 flex items-center xl:text-lg">
                                <p>Informacje i Zapisy</p>
                                <img class="ml-2 h-3 w-auto" src="/images/info_icon.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('/images/camp3.png')" class="campCard">
                        <div class="relative z-10 flex justify-between text-white">
                            <div class="py-3 pl-4">
                                <p class="font-inter-bold xl:text-lg">
                                    Półkolonie WAKE SUN & FUN
                                </p>
                                <p class="font-inter-regular text-sm xl:text-base">
                                    29.01-05.02
                                </p>
                            </div>
                            <div class="my-auto mr-4 flex items-center xl:text-lg">
                                <p>Informacje i Zapisy</p>
                                <img class="ml-2 h-3 w-auto" src="/images/info_icon.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('/images/camp4.png')" class="campCard">
                        <div class="relative z-10 flex justify-between text-white">
                            <div class="py-3 pl-4">
                                <p class="font-inter-bold xl:text-lg">
                                    Półkolonie WAKE SUN & FUN
                                </p>
                                <p class="font-inter-regular text-sm xl:text-base">
                                    29.01-05.02
                                </p>
                            </div>
                            <div class="my-auto mr-4 flex items-center xl:text-lg">
                                <p>Informacje i Zapisy</p>
                                <img class="ml-2 h-3 w-auto" src="/images/info_icon.png" alt="" />
                            </div>
                        </div>
                    </div>
                    <div style="background-image: url('/images/camp5.png')" class="campCard">
                        <div class="relative z-10 flex justify-between text-white">
                            <div class="py-3 pl-4">
                                <p class="font-inter-bold xl:text-lg">Obóz Freestyle Summer</p>
                                <p class="font-inter-regular text-sm xl:text-base">
                                    29.01-05.02
                                </p>
                            </div>
                            <div class="my-auto mr-4 flex items-center xl:text-lg">
                                <p>Informacje i Zapisy</p>
                                <img class="ml-2 h-3 w-auto" src="/images/info_icon.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="absolute inset-0 z-0 bg-neutral-200 mix-blend-multiply"></div>
            </div>
            <div class="mt-4 flex flex-col font-inter-regular sm:flex-row">
                <div class="items-center xl:flex xl:gap-28">
                    <button class="mb-4 rounded bg-cust-red px-3 py-2 text-white shadow-xl sm:mb-0">
                        O Naszych Obozach
                    </button>
                    <a href="#" class="flex pt-4 lg:pt-2">Zobacz wspomnienia z poprzednich obozów
                        <img class="my-auto ml-2 hidden h-3 w-auto md:flex" src="images/arr_icon.png" alt="" />
                        <img class="my-auto ml-2 flex h-3 w-auto md:hidden" src="images/arr_icon_rotated.png" alt="" />
                    </a>
                </div>
            </div>
        </div>
        <div class="relative md:absolute md:inset-y-0 md:right-0 md:h-full md:w-[35%]">
            <img class="w-full md:absolute md:inset-0 md:h-full md:object-cover" src="images/camp_side.png" alt="" />
        </div>
    </div>
</div>