<div id="contact" class="mx-4 sm:mx-32 lg:mx-72 xl:mx-96">
    <div
        class="mt-16 mb-8 text-center font-inter-extraBold text-3xl sm:mt-24 sm:text-4xl md:mt-28 xl:mb-10 xl:mt-32 xl:text-5xl">
        Skontaktuj się z nami
    </div>
    <div class="flex">
        <div class="w-1/2 pr-2">
            <label for="name" class="block text-sm font-medium text-gray-700">Imię i Nazwisko</label>
            <div class="mt-1">
                <input type="text" name="name" id="name"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:border-cust-yellow focus:ring-cust-yellow sm:text-sm"
                    placeholder="Jan Nowak" />
            </div>
        </div>

        <div class="w-1/2 pl-2">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <div class="mt-1">
                <input type="email" name="email" id="email"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:border-cust-yellow focus:ring-cust-yellow sm:text-sm"
                    placeholder="you@example.com" />
            </div>
        </div>
    </div>

    <div class="mx-auto mt-4">
        <label for="text" class="block text-sm font-medium text-gray-700">Wiadomość</label>
        <div class="mt-1">
            <textarea rows="10" name="text" id="text"
                class="block w-full rounded-md border-gray-300 shadow-sm focus:border-cust-yellow focus:ring-cust-yellow sm:text-sm"></textarea>
        </div>
    </div>
    <button class="mt-4 mb-16 w-full rounded-md bg-cust-yellow py-3 shadow-md xl:mb-24 hover:bg-cust-yellow-hover duration-100 ease-out">
        Wyślij Wiadomość
    </button>
</div>