<div  class="mx-auto">
    {# hero1 #}
    <div class="relative">
        <div class="absolute inset-0">
            <img class="h-full w-full object-cover" src="./images/hero1.png" alt="" />
            <div class="absolute inset-0 bg-neutral-600 mix-blend-multiply"></div>
        </div>
        <div id="zajecia" class="wrapper">
            <h1 class="mt-10 font-hero text-5xl font-bold tracking-tight md:mt-0 md:text-6xl xl:text-8xl">
                <span class="text-cust-yellow">JUDO</span>
                <span class="text-white">NEKO</span>
            </h1>
            <div class="text-lg text-white">
                <p class="mt-7 md:mt-5 xl:text-xl 2xl:text-2xl">
                    Czy szukasz zajęć Judo dla swojego dziecka?
                </p>
                <div class="mt-6 max-w-lg text-lg text-white sm:max-w-xl">
                    <div class="xl:text-xl 2xl:text-2xl">
                        <ul class="list-disc space-y-1 md:ml-8">
                            <li>trenningi ogólorozwojowe</li>
                            <li>bezpieczne upadanie</li>
                            <li>samoobrona</li>
                            <li>nauka przez zbawę</li>
                            <li>kształtowanie charakteru, zdrowa rywalizacja</li>
                            <li>doświadczona kadra trennerska</li>
                        </ul>
                        <br />
                        <p>Zapraszamy dziewczynki i chłopców od 4 roku życia</p>
                    </div>
                    <div class="mt-8 flex items-center space-x-4 pb-4 xl:text-lg 2xl:text-xl">
                        <a href="#contact" class="call-butt bg-cust-yellow hover:bg-cust-yellow-hover duration-100 ease-out">
                            <img src="./images/save_icon.png" alt="" />
                            <span class="ml-2"> Zapisz Się</span>
                        </a>
                        <a href="#hero2" class="mt-4 md:mt-0 md:flex">
                            <div>Czytaj więcej</div>
                            <svg class="mx-auto mt-1 mb-4 h-5 w-auto md:mb-0 md:ml-4" fill="none" stroke="currentColor"
                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="h-12 w-full bg-cust-white md:h-16"></div>

    {# hero2 #}
    <div class="relative">
        <div class="absolute inset-0">
            <img class="h-full w-full object-cover" src="./images/hero2.png" alt="" />
            <div class="absolute inset-0 bg-neutral-600 mix-blend-multiply"></div>
        </div>

        <div id="hero2" class="wrapper">
            <h1 class="mt-10 font-hero text-5xl tracking-tight md:mt-0 md:text-6xl xl:text-8xl">
                <span class="text-cust-green">AKRO</span>
                <span class="text-white">NEKO</span>
            </h1>
            <div class="text-lg text-white">
                <p class="mt-7 md:mt-5 xl:text-xl 2xl:text-2xl">
                    Czy szukasz zajęć z akrobatyki dla swojego dziecka?
                </p>
                <div class="mt-6 max-w-lg text-lg text-white sm:max-w-xl">
                    <div class="xl:text-xl 2xl:text-2xl">
                        <ul class="list-disc space-y-1 md:ml-8">
                            <li>trenningi ogólorozwojowe</li>
                            <li>harmonijny rozwój cech motorycznych</li>
                            <li>kształtujące koordynację ruchową i zwinność</li>
                            <li>koczność, wytrzymałość, gibkość</li>
                            <li>idealna podstawa pod inne dyscypliny</li>
                            <li>doświadczona kadra trennerska</li>
                        </ul>
                        <br />
                        <p>Zapraszamy dziewczynki i chłopców od 6 roku życia</p>
                    </div>
                    <div class="mt-8 flex items-center space-x-4 pb-4 xl:text-lg 2xl:text-xl">
                        <a href="#contact" class="call-butt bg-cust-green hover:bg-cust-green/80 duration-100 ease-out">
                            <img src="./images/save_icon.png" alt="" />
                            <span class="ml-2"> Zapisz Się</span>
                        </a>
                        <a href="#about" class="my-4 md:mt-0 md:flex">
                            <div>Czytaj więcej</div>
                            <svg class="mx-auto mt-1 h-5 w-auto md:ml-4" fill="none" stroke="currentColor"
                                viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>